.visor_display {
    /* border: black solid; */
    height: 100vh;
    width: 100vw;
}

.visor_display {
    /* border: red solid; */
    margin-top: 25px;
    margin-bottom: 25px;

}

.sngl_pic {
    /* border: blue solid; */
    height: 375px;
    margin: 2px;
}

.npq_header {
    /* border: blue solid; */
    margin: 2px;
    padding-left: 30px;
    width: 60%;
}

.productName_div {
    /* border: rgb(238, 110, 13) solid; */
    display: flex;
    margin: 2px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2.9px;
    line-height: 44px;
    margin-bottom: 10px;
    overflow: break-word;
}

.productPrice_div {
    /* border: rgb(238, 110, 13) solid; */
    margin: 2px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: .45px;
    line-height: 40px;
    display: flex;

}

.quantity_div {
    /* border: rgb(238, 110, 13) solid; */
    margin: 2px;
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
}

.addcart_btn {
    /* border: rgb(238, 110, 13) solid; */
    display: flex;
    justify-content: center;
    height: 42px;
    width: 90%;
    margin: 2px;
    margin-top: 28px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.listOfStuff {
    /* border: rgb(238, 110, 13) solid; */
    margin: 2px;
    margin-top: 65px;
    padding-left: 15px;
    box-sizing: border-box;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 27px;
    list-style-image: none;
    list-style-position: outside;
    margin-bottom: 20px;
    text-size-adjust: 100%;
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column; */
}

.renderingVisor_div {
    /* border: purple solid; */
    margin: 2px;
    display: flex;
    height: 95%;
}

.allVisor_info_forSingleProduct {
    /* border: green solid; */
    margin: 2px;
    height: 95%;
}

.q_label {
    /* border: turquoise solid; */
    margin: 2px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .2px;
}

.quantity_btn {
    /* border: turquoise solid; */
    margin: 2px;
    font-size: 17px;
}
.quantity_num {
    /* border: turquoise solid; */
    margin: 2px;
    font-size: 17px;
}

.descriptionOfProduct {
    /* border: turquoise solid; */
    margin: 2px;
    display: list-item;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
}

@media(max-width: 950px){
    .sngl_pic {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 375px){
    .div_wrappingImg {
        height: 40%;
    }
    .listOfStuff {
        width: 100%;
        margin-left: 10px;
    }
    .renderingVisor_div {
        display: flex;
        flex-direction: column;
    }
    .sngl_pic {
        width: 90%;
    }
}

