.all_Products {
    /* border: solid; */
    padding: 60px 40px;
    box-sizing: border-box;
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    background-color: none;
}

.dp_all {
    /* border: solid; */
    background-color: white;
    border: none;
}

.header {
    /* border: solid; */
    border-bottom: solid;
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 34px;
    padding-top: 20px;
}

.p_tag {
    /* border: solid; */
    display: flex;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 55px;
    border-bottom: lightgray solid .5px;
    width: 940px;
}

.mapped_product {
    border: solid;
    margin-bottom: 15px;
    background-color: none;
    background-color: white;
}

.prod_img {
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    background-color: none;
}

.prod_info {
    display: flex;
    height: 25px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: none;
    border: none;
}

a {
    background-color: inherit;
    color: black;
    text-decoration-style: none;
    text-decoration: none;
    background: none;
}

.linkInVisor {
    background-color: white;
    border: none;
}

@media(max-width: 600px){
    .all_Products {
        width: 100%;
        padding: 0px;
        margin-top: 40px;
        /* background-color: purple; */
    }
    .prod_img {
        width: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .p_tag {
        width: 90%;
        text-overflow: wrap;
    }
    .mapped_product {
        height: 180px;
        width: auto;
        border: red;
    }
    .linkInVisor {
        height: 180px;
        width: auto;
        background-color: white;
        border: none;
        /* background-color: blue; */
    }
}