.all_Products {
    border: solid;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}

.dp_all {
    border: solid;
}

.header {
    border: solid;
    display: flex;
    margin-left: 10px;
    font-size: 34px;
    padding-top: 20px;
}

.p_tag {
    border: solid;
    display: flex;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
}

.mapped_product {
    border: solid;
}

.prod_img {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 275px;
}

.prod_info {
    display: flex;
    height: 25px;
    border: solid;
    font-size: 20px;
    font-weight: 400;
}

@media(max-width: 375px){
    .all_Products {
        width: 100%;
        padding: 0px;
        margin-top: 40px;
    }
    .prod_img {
        width: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}