.main_gray {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    background-color: rgba(0, 0, 0, .35);
    color: white;
    height: 100vh;
    width: 100vw;
}

.gray_hidden {
    display: none;
}

.cart_drawer {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 30vw;
    top: 0;
    right: 0;
    color: black;
    /* margin-left: 1000px; */
    transition: right 12s linear;
    
}

.cart_hidden {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 30vw;
    top: 0;
    right: 0;
    color: black;
    transition: right 12s linear;
}