.returning_div {
    /* border: black solid; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

.mappedProducts {
    /* border: red solid; */
    margin-top: 8px;
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: solid lightgray .5px;
}

.return_checkoutcart {
    /* border: purple solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: solid lightgray .5px;
}

.allproduct_checkout {
    /* border: blue solid; */
    margin: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.removeProduct_div {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
}

.checkout_pic {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
    height: 125px;
}

.product_name {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
}

.product_price {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
}

.product_quantity {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
}
.thisIsForJerry {
    display: flex;
    flex-wrap: wrap;
}

/* stripe */

.stripe_div {
    /* border: red solid; */
    margin: 8px;
    padding: 4px;
}

.practice {
    /* border: blue solid; */
    width: 50%;
    height: 98%;
    margin: 8px;
    padding: 4px;
}

.example {
    
    margin: 8px;
    padding: 4px;
    height: 75%;
    -moz-box-shadow: 3px 3px 5px 6px rgb(176, 175, 175);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(176, 175, 175);
    box-shadow: 3px 3px 5px 6px rgb(176, 175, 175);
    background-color: rgb(252, 249, 249);
}

.h1_stripe {
    /* border: green solid; */
    margin: 8px;
    padding: 4px;
    height: 105px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    letter-spacing: 3px;
    font-size: 44px;
    display: flex;
    justify-content: center;
}

@media(max-width: 375px){
    .returning_div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .practice {
        width: 100%;
    }
    .return_checkoutcart {
        width: 98%;
    }
    .stripe_div {
        height: 65%;
    }
    .example {
        height: 100%;
        margin: 8px;
        padding: 4px;
    }
    .mappedProducts {
        display: flex;
    }
    .allproduct_checkout {
        display: flex;
    }
    .checkout_pic {
        height: auto;
        width: 65px;
    }
    .product_name {
        font-size: 14px;
    }
    .product_price {
        font-size: 14px;
    }
    .product_quantity {
        font-size: 14px;
    }
    .removeProduct_btn {
        font-size: 14px;
    }
}
