.featured_product {
    width: 100%;
    height: 100%;
    display: block;
}

.ourstory_img {
    width: 100vw;
    height: 740px;
    margin-top: 60px;
}

.feat {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 60px;
}

.allVisors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}

.featured_img {
    width: 375px;
}

.visor_info {
    display: flex;
    height: 25px;
    font-size: 20px;
    font-weight: 400;
}

.white_leather {
    height: 400px;
    width: 100%;
    background-image: url('./../../Ad_photos/tysanSlide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    /* object-fit: none;
    object-position: 170% 40%;
    width: 100vw;
    height: 740px; */
}

.text_area {
    position: absolute;
}

.text_story {
}

.home_story {
}

.sunset_img {
    height: 470px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('./../../Ad_photos/visor_sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
}

.text_area {
    background-color: white;
    height: 375px;
    width: 380px;
    font-size: 17px;
    display: block;
    position: relative;
    left: 930px;
    top: 100px;
}

@media(max-width: 1300px){
    .allVisors{
        display: flex;
        flex-wrap: wrap;
    }
    .ourStory_box{
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto;
        box-sizing: border-box;
        display: block;
    }
}