.comment_box {
    height: 200px;
    width: 500px;
    position: relative;
    
}

.background_img {
    height: 100%;
    width: 100%;
    background: url('../../Ad_photos/IMG_2344.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
}

.div_background {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    width: 500px;
}

.top_divs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.post_btn {
    display: flex;
    width: 75px;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 9px;
    margin: 14px;
    font-size: 14px;
    font-weight: 600;
    font-family: Gill Sans, sans-serif;
    border: none;
    cursor: pointer;
}

@media(max-width: 600px){
    .top_divs {
        width: 100%;
    }
    .div_background {
        width: 90%;
    }
    .comment_box {
        width: 100%;
    }
}