.nav {
    /* height: 125px; */
    width: 100vw;
    padding: 25px;
    border: solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    /* position: fixed; */
    /* scroll-behavior: fixed; */
    /* transition-delay: 0s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) */
}

.logo_btn {
    display: flex;
    cursor: pointer;
    position: center center;
}

.all_btn {
    padding: 5px;
    height: 75px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    border: solid;
}

.main_btn {
    width: 450px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue';
   border: solid
}

.sec_btn {
    display: flex;
    width: 300px;
    align-items: center;
   justify-content: center;
   border: solid
}

.nav_icon {
    height: 37px;
    width: 48px;
    padding: 8px;
    cursor: pointer;
    border: none;
}
.nav_icon:hover {
    background-color: rgb(235, 235, 235);
}

.nav_button {
    font-size: 19px;
    border: none;
    cursor: pointer;
    letter-spacing: .5px;
    background-color: none;
}

.nav_button:hover{
    background-color: rgb(235, 235, 235);
}

@media(max-width: 1180px){
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_btn{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
}



@media(max-width: 900px) {
    .all_btn{
        align-items: center;
        align-content: space-around;
    }
}

@media(mx-width: 770px){
    /* .all_btn{
        flex-direction: column;
    } */
    .nav_btn{
        display: flex;
        flex-wrap: wrap;
    }
}