.nav {
    /* height: 125px; */
    width: 100vw;
    padding: 25px;
    border-bottom: solid rgb(182, 182, 182) .05px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    /* position: fixed;
    top: 0;
    overflow: hidden; */
}

.logo_btn {
    display: flex;
    cursor: pointer;
    position: center center;
}

.all_btn {
    padding: 5px;
    height: 75px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    /* border: solid; */
}

.main_btn {
    width: 450px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue';
   /* border: solid */
}

.sec_btn {
    display: flex;
    width: 300px;
    align-items: center;
   justify-content: center;
   /* border: solid */
}

.nav_icon {
    height: 37px;
    width: 48px;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: none;
}
.nav_icon:hover {
    background-color: rgb(235, 235, 235);
}

.nav_button {
    font-size: 19px;
    border: none;
    cursor: pointer;
    letter-spacing: .5px;
    background-color: none;
}

.nav_button:hover{
    background-color: rgb(235, 235, 235);
}

@media(max-width: 1180px){
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: none;
    }
    .main_btn{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
}



@media(max-width: 900px) {
    .all_btn{
        align-items: center;
        align-content: space-around;
    }
}

@media(max-width: 770px){
    /* .all_btn{
        flex-direction: column;
    } */
    .nav_btn{
        display: flex;
        flex-wrap: wrap;
    }
    .logo_btn {
        width: 100%;
        height: auto;
    }
}

/* @media(min-width: 500px) {
    .nav_btn{
        display: flex;
        flex-wrap: wrap;
    }
    .logo_btn {
        width: 100%;
        height: auto;
    }
    .all_btn{
        align-items: center;
        align-content: space-around;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_btn{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
} */

@media(max-width: 600px){
    .logo_btn {
        width: 185px;
        height: auto;
    }
    .all_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: solid blue; */
        height: 150px;
        width: 100%;
    }
    .main_btn {
        /* border: red solid; */
        width: 110%;
        height: 130px;
        font-size: 13px;
        display: flex;
    }
}